<launch>

  <node pkg="asensing-ros-driver" type="asensing_node" name="asensing_node" required="true" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="buadrate" type="int" value="460800"/>
    <param name="device_model" type="str" value="ins5711daa"/>
    <param name="frame_id" type="str" value="base_link"/>
    <param name="gravity_acceleration" type="double" value="9.7883105"/>
    <param name="use_gps_time" type="bool" value="false"/>
    <param name="broadcast_tf" type="bool" value="false"/>
    <param name="tf_parent_frame_id" type="str" value="world"/>
    <param name="tf_frame_id" type="str" value="base_link"/>
    <!--周内秒加每个周的偏移量，需要根据每个月的不同天数进行调整 605000-200-->
    <param name="Offset_time" type="int" value="1725753600"/>
    <param name="UTC_Offset_time" type="int" value="18"/>
  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find asensing)/rviz/demo.rviz" required="true"/> -->

</launch>
